<span class="thick-red-line"></span>
<div class="property-line">
  <h4>Armor Class</h4>
  <p><%= @creature.armor %></p>
</div>
<div class="property-line">
  <h4>Hit Points</h4>
  <p><%= @creature.health %>)</p>
</div>
<div class="property-line">
  <h4>Speed</h4>
  <p><%= @creature.speed %></p>
</div>
<span class="thick-red-line"></span>