<button class="d4-button">d4</button>
<button class="d6-button">d6</button>
<button class="d8-button">d8</button>
<button class="d10-button">d10</button>
<button class="d12-button">d12</button>
<button class="d20-button">d20</button>
<button class="d100-button">d100</button>