body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 16px;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    overflow: hidden;
}
#header {
    width: 100%;
    height: 37px;
    background-color: #333;
    color: whitesmoke;
    font-size: 18px;
    padding-left: 20px;
}
#content {
    top: 37px;
    width: 80%;
    height: 100%;
    overflow: scroll;
}
#right-sidebar {
    position: absolute;
    top: 37px;
    right: 0;
    width: 20%;
    height: 100%;
    border-left: 2px solid #333;
}
#nav, #nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em;
}
#nav a {
    display: block;
    padding: 4px 10px;
    border: 1px solid #333;
    color: #fff;
    text-decoration: none;
    background-color: #333;
}
#nav a:hover {
    background-color: lightskyblue;
    color: #333;
}
#nav li {
    float: left;
    position: relative;
    padding-right: 30px;
}
#nav ul {
    position: absolute;
    display: none;
    width: 12em;
}
#nav li ul a {
    width: 12em;
    /*width: 150px;*/
    height: auto;
    float: left;
}
#nav ul ul {
    top: auto;
}
#nav li ul ul {
    left: 12em;
    margin: 0px 0 0 10px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
    display: none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
    display: block;
}
#inputs {
    float: right;
    margin-top: 2px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
#user-input {
    margin-left: 10px;
    margin-right: 25px;
    width: 150px;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#d20-button {
    margin-top: 3px;
    background-color: #333;
    border: 2px solid white;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.roll {
    padding: 6px;
    font-size: 20px;
    font-weight: 300;
    background-color: #D3E5F5;
    border-top: 2px solid white;
}
.success {
    padding: 6px;
    font-size: 20px;
    font-weight: 300;
    background-color: #AFFF94;
    border-top: 2px solid white;
}
.failure {
    padding: 6px;
    font-size: 20px;
    font-weight: 300;
    background-color: #FF9494;
    border-top: 2px solid white;
}
.attack-result {
    background-color: #F2F5D3;
    border-top: 2px solid white;
    padding: 8px;
}
.result-box {
    background-color: white;
    border: 1px solid black;
    padding: 4px 0;
}
.damage-box {
    background-color: white;
    border: 1px solid black;
    margin-top: 8px;
    padding: 4px 0;
}
.attacker-name {
    font-family: 'Libre Baskerville', Garamond, serif;
    color: #922610;
    font-size: 16px;
    margin: 10px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: 1px solid #7A200D;
}
.attack-name, .damage {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 10px;
}
.damage-type {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 10px;
    padding-bottom: 5px;
}
.damage:first-letter {
    text-transform:capitalize;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.attack-rolls {
    margin-left: 20px;
    padding: 6px;
    font-size: 20px;
    font-weight: 300;
}
.damage-rolls {
    margin-left: 20px;
    padding: 6px;
    font-size: 20px;
    font-weight: 300;
}
.submit-button
{
    border: 2px solid #A70D0D;
    padding: 5px 10px !important;
    font-size: 14px !important;
    background-color: white;
    font-weight: bold;
    color: #A70D0D;
    margin-top: 20px;
}
.detail-content {
    width: calc(100% - 370px);
    margin-top: 30px;
    margin-left: 40px;
}
.monster-info {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 2.1
}
.details-container {
    margin-bottom: 10px
}
.details-item {
    font-style: italic;
    font-size: 16px;
    line-height: 2.1
}
.line {
    width: 100%;
    height: 1px;
    background-color: black
}
.line.height3 {
    height: 3px
}
.line.monster {
    background-color: #A70D0D
}
.line.marginBottom20 {
    margin-bottom: 20px
}
.creature-heading h1 {
    font-family: 'Libre Baskerville', Garamond, serif;
    color: #A70D0D;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
}
.creature-heading h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0 0 10px;
}
.abilities {
    text-align: center;
    color: #A70D0D;
    margin-bottom: 20px;
}
.abilities > div {
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px;
    font-size: 12px;
    line-height: 1em;
}
.abilities div .title {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    line-height: 1.33;
    text-align: center;
    color: #242527;
    display: block;
    width: 100%;
    margin-bottom: 10px
}
.abilities .score {
    color: #A70D0D;
    font-size: 24px;
    text-align: center;
    margin-right: 5px;
}
.abilities div .modifier {
    font-size: 24px;
    text-align: center;
    color: black;
}
.quick-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.quick-info div {
    width: 25%;
    margin-bottom: 10px;
    text-align: center;
}
.quick-info div .title {
    text-transform: uppercase;
    color: #242527;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    width: 100%;
}
.quick-info div .primary {
    font-size: 24px;
    color: #242527;
}
.quick-info div .secondary {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    color: #242527;
    position: relative;
    top: -5px;
}
.info-block div {
    width: auto;
}
.info-block div:not(:last-child) {
    margin-right: 60px
}
.info-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.info-block div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    width: 170px
}
.info-block div:not(:last-child) {
    margin-right: 60px
}
.info-block div .title {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #242527;
}
.info-block div .description {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #242527;
}
.info-block div .title {
    font-weight: bold;
}
.more-info-content {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
}
.more-info-content h3{
    border-bottom: 1px solid #A70D0D;
    color: #A70D0D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
}
.more-info-content br {
    display: block;
    content: '';
    height: 15px
}
